<p id="notice"><%= notice %></p>




<div class="container">
  <h1>Emails</h1>

  <%= button_to 'Receive an email', {:controller => "emails", :action => "create"}, class: 'btn btn-outline-primary', :method=>:post, remote: true %>

  <br>
  <br>
</div>



<!--DIV-->

  <div class="container">
      <div class="row">

        <div class="col-md-5">
          <h1>email List</h1>
          <ul id="my-email">
            <% @emails.each do |email| %>
              <li>
                <%= link_to email.object, email %>
              </li>
            <% end %>
          </ul>    
        </div>

        <div class="col-md-7">
          <h1>email Content</h1>
          <div id="email-content">
            <p>ceci est le contenu</p>
          </div>
          
        </div>
        
      </div>
    </div>


